footer {
    height: 742px;
    background-color: #E0E0E0;
    background-image: url("../../assets/logo/bergendal-full-logo-footer.svg");
    background-repeat: no-repeat;
    background-position: 175% 200px;
}
